.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    font-size: 25px;
    color: rgb(14, 48, 48);

    .btn {
        background-color: aqua;
        padding: 30px;
        cursor: pointer;

        &:hover {
            background-color: azure;
        }

        &:active {
            background-color: rgb(10, 136, 136);
        }
    }
}
